.SignIn {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(0deg, #080613 0%, #080613 100%);
  background-image: url(https://via.placeholder.com/1440x1024);
}

.Frame1000003719 {
  left: 1100px;
  top: 957px;
  position: absolute;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}

.Title {
  font-family: 'Poppins';
  word-wrap: break-word;
}

/* Text styles */
.Frame1000003719 .Title:nth-child(1) {
  color: #E6F5F8;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.Frame1000003719 .Title:nth-child(2) {
  color: #FFD400;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.Frame167 .Frame149 .Title:nth-child(1) {
  color: #E6F5F8;
  font-size: 36px;
  font-weight: 500;
  line-height: 43.20px;
}

.Frame167 .Frame149 .Title:nth-child(2) {
  color: #FFD400;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.Frame167 .Frame166 .Frame165 .Frame163 .Frame153 .Title:nth-child(1),
.Frame167 .Frame166 .Frame165 .Frame163 .Frame154 .Title:nth-child(1) {
  color: #E6F5F8;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.Frame167 .Frame166 .Frame165 .Frame163 .Frame153 .Frame150 .Title,
.Frame167 .Frame166 .Frame165 .Frame163 .Frame154 .Frame150 .Title {
  color: rgba(230, 245, 248, 0.36);
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
}

.Frame167 .Frame166 .Frame162 .Frame155 .Title:nth-child(2) {
  color: #FFD400;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.Frame167 .Frame166 .Frame162 .Frame161 .Frame2 .ButtonPrimary .DownloadNow,
.Frame167 .Frame166 .Frame162 .Frame161 .ButtonPrimary .DownloadNow {
  color: #0E0B1D;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
}

.Frame169 {
  left: 130px;
  top: 47px;
  position: absolute;
  justify-content: flex-start;
  align-items: center;
  gap: 982px;
  display: inline-flex;
}